/* !!! Для подключения внешнего файла стиля, необходима ссылка link в элементе head на нужный файл css !!!*/
/*
    Определение стиля:
        Селектор { Блок объявления стиля }

    Селектор указывает на элемент

    Объявление стиля - набор команд - пар свойство:значение
        Селектор {
    свойство : значение;
    свойство : значение;
    ...
    свойство : значение;
    }
*/

/*Например, селектор тега*/
div {
    margin: 10px;
}

/*
        Классы
    необходимы для стилизации схожих элементов без переопределения стиля всех элементов одного вида
    Селектор класса - точка перед названием
*/
.redBlock {
    background-color: red;
    width: 70px;
    height: 70px;
}

.blueBlock {
    background-color: blue;
    width: 70px;
    height: 70px;
}

/*
        Идентификаторы
    используются для описания уникальных на веб-странице элементов
    Селектор идентификатора - решетка перед названием
*/
#header {
    height: 80px;
    background-color: #ccc;
}

#content {
    height: 180px;
    background-color: #808080;
}

#footer {
    height: 80px;
    background-color: #ccc;
}

/*
        Универсальный селектор
    применяется ко всем элементам на странице
*/
* {
    outline: 1px solid yellowgreen;
}

/*
        Группа селекторов
    когда нужно применить стилизацию для нескольких селекторов одновременно, эти селекторы можно перечислить через запятую.
    Группа селекторов может содержать как селекторы тегов, так и селекторы классов и идентификаторов
*/
h2, #header, .blueBlock {
    color: red;
}

/*
        Селекторы потомков
    позволяют стилизовать вложенные элементы внутри строго определенных элементов
*/
.parent p {
    color: blue;
}

/*
        Селекторы дочерних элементов
    позволяет стилизовать элементы на первом уровне вложенности
*/
.outerBlock > p{
   text-decoration-line: underline;
   font-weight: bold;
}