* {
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    justify-content: space-around;
}

.product {
    width: 180px;
    border: 1px solid black;
    padding: 16px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .product {
        width: 100%;
        display: flex;
    }
}

@media (max-width: 425px) {
    .product {
        width: 90%;
        margin: 0 auto;
    }
}