.text_center_white {
    margin: 0;
    padding-top: 60px;
    text-align: center;
    color: white;
}

.block {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 20px;
}

.radial_white-to-black {
    background-color: #eee;
    background-image: radial-gradient(white, black);
    background-image: -moz-radial-gradient(white, black);
    background-image: -webkit-radial-gradient(white, black);
}

.radial_circle {
    background-image: radial-gradient(circle, white, black);
    background-image: -moz-radial-gradient(circle, white, black);
    background-image: -webkit-radial-gradient(circle, white, black);
}

.radial_top-left {
    background-image: radial-gradient(circle at 25% 30%, white, black);
    background-image: -moz-radial-gradient(25% 30%, circle, white, black);
    background-image: -webkit-radial-gradient(25% 30%, circle, white, black);
}