* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.text {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    font-weight: 400;
    letter-spacing: 0.05em;
    opacity: 60%;
}

.top {
    height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.topContent {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.topMenu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
}

.topInfo {
    padding-top: 107px;
    flex-grow: 1;
    background-image: url(img/title.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.topHeader {
    font-size: 64px;
    color: #1F3F68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}

.topText {
    width: 425px;
    margin-bottom: 71px;
}

.topButton {
    opacity: 100%;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px 0px #356EAD33;
    border-radius: 10px;
    padding: 15px 50px;
    border-style: none;
}

.footerBlockHeader {
    width: 340px;
}

.footerBlockText {
    width: 495px;
}

.footerContacts ul {
    display: flex;
    justify-content: space-between;
}

.mainCards {
    display: flex;
    justify-content: space-between;
}

.mainBlock {
    width: 359px;
}

.contactBlock {
    display: flex;
    justify-content: space-between;
}

.map {
    width: inherit;
}

.subHeader {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.header3 {
    font-size: 36px;
    text-align: center;
}

.header4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.textIn {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.btnSend {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}